.home-container {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, rgb(62, 62, 62), black);
    height: 100%;
}

.left {
    font-size: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url("../../public/bg.jpg");
    background-size: contain;
    color: transparent;
    -webkit-background-clip: text;
}

#text {
    font-size: 3.2vw;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: yellow; */
}

.right .avatar {
    display: flex;
    justify-content: center;
    width: 60%;
}

.avatar img {
    border-radius: 50%;
    width: 100%;
}

.description {
    width: 80%;
    text-align: justify;
    font-size: 1.3vw;
    font-weight: 300;

}

.skills-container {
    height: 100bh;
    justify-self: flex-end;
    font-size: 1.5rem;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container img {
    width: 100%;
}


@media only screen and (width<=600px) {
    .home-container {
        flex-direction: column;
        background: linear-gradient(to bottom, rgb(62, 62, 62), black);
    }

    #text {
        font-size: 5vw;
    }

    .right{
        height: 30%;
    }
    .left {
        height: 70%;
    }

    .skills-container {
        font-size: 4vw;
        width: 50vw;
    }

    .description {
        font-size: 3.5vw;
    }

    .right .avatar {
        width: 30%;
    }
}

@media only screen and (width<=450px) {
    .right .avatar {
        width: 40%;
    }
}