.project-card {
    border-radius: 20px;
    height: 30vh;
    width: 30vh;
    background: linear-gradient(135deg, rgb(141, 141, 141), rgb(255, 255, 255));
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project-card img {
    width: 100%;
}

.project-card:nth-child(even) {
    transition: 1s;
    animation: dance 20s infinite;
}

.project-card:nth-child(odd) {
    transition: 1s;
    animation: dance 30s infinite;
}


.project-card:not(:hover) {
    opacity: 0.7;
}


.project-links {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media (hover:hover) {
    .project-card:hover {
        transition: 1s;
        scale: 1.1;
    }

    .project-links div:hover {
        transition: 0.5s;
        font-weight: bolder;
        color: rgb(0, 0, 0)
    }
}



@keyframes dance {
    0% {
        transform: translateY(0);

    }

    25% {
        transform: translateY(5vh);
    }

    50% {
        transform: translateY(-5vh);
    }

    75% {
        transform: translateY(5vh);
    }

    100% {
        transform: translateY(0);

    }


}

@media only screen and (width<=900px) {
    .project-card {
        height: 20vh;
        width: 20vh;
        font-size: 1.5vw;
    }
}

@media only screen and (width<=600px) {
    .projects {
        background: linear-gradient(to bottom, rgb(62, 62, 62), black);
    }

    .project-card {
        height: 15vh;
        width: 15vh;
    }

    @keyframes dance {
        0% {
            transform: translateY(0);
        }

        25% {
            transform: translateY(5vh);
        }

        50% {
            transform: translateY(-5vh);
        }

        75% {
            transform: translateY(5vh);
        }

        100% {
            transform: translateY(0);

        }


    }
}